<!DOCTYPE html>
<html lang="en">
    <head>
    <!--Head-->
    <%- include('./partials/head.ejs') %>
    <!--Head-->
    </head>
    <body>
        <!--Navigation Bar-->
        <%- include('./partials/navbar.ejs') %>
        <!--Navigation Bar-->

        <!--Main Content-->
        <div id="content-wrapper">
            <!--Header-->
            <!--Header-->
            <!--Home-->
            <section id="home" class="full-height px-lg-5">
                <div class="container">
                    <div class="row">
                        <div class="jumbotron">
                            <div class="container text-center">
                                <h1>Welcome to MediSystemsPro</h1>
                                <img src="/assets/images/homepg.jpg" class="img-fluid rounded">
                                <br>
                                <br>
                                <p>Empowering healthcare organizations to enhance patient care through streamlined management.
                                    Optimizing operations, improving patient safety, and fostering effective communication.
                                    Driving excellence in healthcare services and improving patient outcomes.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Home-->
        </div>
    </body>

</html>