<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Add a Doctor | Patient Management' }) %>
        <link rel="stylesheet" href="/styles/patient-form.css">
</head>

<body>
    <%- include('../partials/navbar.ejs') %>

        <section class="hero">
            <h2>Add a New Doctor</h2>
            <h4><i>Please fill out the forms below:</i></h4>
        </section>

        <form method="POST" action="/doctors">
            <!-- Name input -->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>

            <!-- Specialty input -->
            <label for="specialty">Specialty:</label>
            <input type="text" id="specialty" name="specialty" required>
            <br>

            <!-- Type input -->
            <label for="type">Type:</label>
            <select id="type" name="type" required>
                <option value="MD">MD</option>
                <option value="DO">DO</option>
            </select>
            <br>

            <!-- School input -->
            <label for="school">School:</label>
            <input type="text" id="school" name="school" required>
            <br>

            <!-- Phone Number input -->
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required>
            <br>

            <!-- Email input -->
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>

            <input type="submit" value="Add New Doctor">
        </form>

        <%- include('../partials/footer.ejs') %>
</body>

</html>