@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}


.navbar {
    background-color: var(--color-base);
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.navbar-nav .nav-link {
    flex-grow: 1;
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

.navbar.navbar-expand-lg.navbar-dark .nav-link:hover {
    color: var(--color-brand);
}

/* Reset styles for cross-browser consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #333;
    scrollbar-width: 10px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 2px;
}

/* General styles */
.header {
    background-color: #335c67;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

body {
    font-family: var(--font-base) Arial, sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    color: #333 !important;
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    overflow-y: overlay !important;
}


a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
}

h1 a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li:not(:last-child) {
    margin-right: 1rem;
}

nav a {
    font-size: 1.2rem;
}

/* Hero section styles */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero h3 {
    font-size: 2rem;
    text-align: center;
}

.hero h4 {
    font-size: 1.5rem;
    text-align: center;
}
.btn-group .btn {
    padding: 0.5rem 1rem;
    margin-right: 10px;
}

.btn.btn-green {
    background-color: green;
    color: white;
}

.btn.btn-gray {
    background-color: gray;
    color: white;
}

.btn.btn-yellow {
    background-color: yellow;
    color: black;
}

.btn.btn-red {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.btn.btn-red:hover {
    background-color: #ff0000;
}

.btn:hover {
    opacity: 0.8;
}



/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    width: 100%;
}

footer * {
    color: #fff;
}

footer ul {
    justify-content: center;
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}
