@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: white
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar-brand img {
    border-radius: 50%;
}

.navbar .nav-link.active {
    color: var(--color-brand)
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 30px; 
  }
  /* Reset styles for cross-browser consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #333;
    scrollbar-width: 10px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 2px;
}

/* General styles */
.header {
    background-color: #335c67;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  
  
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: overlay;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
}

h1 a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li:not(:last-child) {
    margin-right: 1rem;
}

nav a {
    font-size: 1.2rem;
}

/* Hero section styles */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8f1f2;
    height: 40vh;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero h3 {
    font-size: 2rem;
    text-align: center;
}

.hero h4 {
    font-size: 1.5rem;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}
.btn-group .btn {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    margin-right: 10px; /* Add space between buttons */
  }

  .btn-green {
    background-color: green;
    color: white;
  }

  .btn-gray {
    background-color: gray;
    color: white;
  }

  .btn-yellow {
    background-color: yellow;
    color: black;
  }

  .btn-red {
    background-color: red;
    color: white;
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 3px; /* Adjust border-radius as needed */
}

.btn-red:hover {
    background-color: #ff0000;
    /* Add hover styles if desired */
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    width: 100%;
}

footer * {
    color: #fff;
}

footer ul {
    justify-content: center;
}
  
@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8));
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}
