.card,
.doctors {
    max-width: 800px;
    margin: 2rem auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
}

.card {
    text-align: center;
    padding: 20px;
}

img {
    width: 60%;
    min-width: 300px;
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.patient-name {
    font-size: 32px;
    margin-bottom: 10px;
}

section {
    text-align: left;
    margin: 0 20%;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

.featured {
    background-color: #ffd700;
}

/* Style Action Buttons */
.actions {
    display: flex;
    justify-content: space-between;
}

.btn a {
    color: #fff;
}

/* Adoption doctors */
.doctors {
    padding: 30px;
    height: fit-content;
    max-height: 50vh;
    overflow-y: overlay;
    width: 100%;
}

.doctors h1 {
    font-size: 32px;
    font-weight: bold;
}

hr {
    margin-bottom: 1rem;
}

.doctors ul {
    list-style: none;
}

.doctors li {
    background-color: #ccc;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    position: relative;
}

.doctors a {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.actions .btn {
    padding-inline: 5px;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}